table.responsive {
    th {
        font-size: 0.9em;
    }
    td, th{
        text-align: center !important;
    }

    @media (max-width: 768px) {
        border: 0;

        thead {
            display: none;
        }

        tr {
            margin-bottom: 10px;
            display: block;
            border-bottom: 2px solid $main-color;
        }

        td {
            display: block;
            border-bottom: 1px dotted $main-color;

            &:last-child {
                border-bottom: 0;
            }

            &:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
                color: #2d2a2a;
            }
        }
    }
}