.uap-user-page-wrapper, .uap-register-4{
    font-family: 'PT_Sans', sans-serif !important;
}
.uap-ap-theme-4{
    .uap-ap-menu{
        .uap-ap-menu-tab-item, .uap-ap-menu-item, .uap-ap-submenu-item{
            a{
                color: $secondary-color;
            }
            &:hover{
                background-color: $secondary-color !important;
                .uap-ap-menu-tab-item{
                    background-color: $secondary-color !important;
                }
            }
        }
        .uap-ap-menu-tab-item-selected, .uap-ap-menu-item-selected{
            background-color: $secondary-color !important;
            a{
                color: #fff !important;
            }
        }
    }
}

.uap-register-4, .uap-change-password-form{
    .uap-form-line-register, .uap-profile-box-wrapper{
        border: 0 !important;
        .select2-selection,
        input[type="number"],
        input[type="password"],
        input[type="text"],
        select,
        textarea{
            height: 2.642rem !important;
            line-height: 2rem !important;
            padding: 0 1.07em !important;
            -webkit-appearance: none !important;
            border: 1px solid #e1e1e1 !important;
            background-color: #fff !important;
            outline: none !important;
            border-radius: 0 !important;
            width: 100% !important;
            color: #222222 !important;
            font-size: 1.14rem !important;
            box-shadow: none !important;
            &:focus{
                box-shadow: none;
                outline: none;
                border-color: $secondary-color !important;
            }
        }

    }
    .uap-submit-form input, .uap-change-password-field-wrap .button {
        border-color: #f2f2f2 !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-style: none !important;
        background-color: #222222 !important;
        border: 1px solid #222222 !important;
        color: #fff !important;
        -webkit-text-fill-color: currentColor !important;
        height: auto !important;
    
        &:hover{
            background-color: #4c4c4c !important;
        }
    }
}
