#float-whatsapp{
    position: fixed;
    bottom: 65px;
    right: 30px;
    z-index: 100;
    text-align: right;
    #float-whatsapp-img{
        width: 40px;
        height: 40px;
    }
    @include respond-above(md){
        bottom: 30px;
    }
}

.et_b_header-cart.et-off-canvas .woocommerce-mini-cart__footer-wrapper,
.et_b_mobile-panel-cart .woocommerce-mini-cart__footer-wrapper,
.et-mini-content .woocommerce-mini-cart__footer-wrapper
{
    padding-bottom: 60px;
}
