.woocommerce-checkout{
    .woocommerce-shipping-fields .step-title{
        display: block !important;
    }
    
    #ship-to-different-address{
        display: none !important;
    }
    .shipping_address{
        display: block !important;
    }
}
