/*!
 Theme Name:   XStore Child
 Theme URI:    http://8theme.com/
 Description:  XStore Child Theme
 Author:       8theme
 Author URI:   http://8theme.com
 Template:     xstore
 Version:      0.0.5
 Text Domain:  xstore
*/

/**abstracts**/
@import
  'abstracts/variables',
  'abstracts/mixins';

// /**components**/
@import
  'components/header',
  'components/footer',
  'components/responsive-table',
  'components/whatsapp',
  'components/uap',
  'components/product';

// /**pages**/
@import
  'pages/checkout';

.wpb_single_image{
  figure{
    width: 100%;
    a, .vc_single_image-wrapper{
      width: 100%;
    }
  }
}

.dokan-form-control:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus, textarea.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: $secondary-color !important;
}

.uap-strength-wrapper{
  display: none !important;
}

.uap-form-password{
  margin-bottom: 7px !important;
}